[Unit]
Description=Run Memory and CPU Usage Monitor every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=kyte_apm.service

[Install]
WantedBy=timers.target
